<div class="container">
  <div class="flex_box">
    <% @users.each do |user| %>
      <div class="card" style="width: 18rem;">
       <!--  <%= cl_image_tag user.photo, class: "card-img-top" %> -->
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text">
            <li>
              <% user.sessions.each do |session| %>
                <%= session.duration %>
              <% end %>
            </li>
          </p>
          <%= link_to user.name, user_path(user), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
