<div class="container">
  <div class="col-6">
    <h2>Add your specialty</h2>
    <%= simple_form_for [@user, @user_sport] do |f| %>
      <%= f.association :sport %>
      <%= f.button :submit, class: "btn home-btn" %>
    <% end %>

  </div>
</div>

