<div class="container pt-4 bg-white">
  <h1>Add a Sport to your List, <%= @user.first_name.capitalize %></h1>
  <%= simple_form_for [@user, @user_sport] do |f| %>
    <%= f.association :sport %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
