.wrapper {
  margin: 20px auto;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-color: black;
  border-radius: 8px;
}

.banner-half {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 10px;
  border-radius: 8px 8px 0px 0px;
}

.banner-half > h2 {
  color: white;
  padding: 10px;
}

.wrapper > h2 {
  margin-top: 10px;
}

#image-top {
  position: relative;
  top: -10px
}

.wrapper > p {
  margin-top: 130px;
}

.bottom-buttons {
  padding-top: 20px;
  margin: 0 auto;
}

.another-half {
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  padding: 150px;
  padding-bottom: 20px;
}

.card {
  border-radius: 8px;
}
